 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1430px;
}

.u-section-1 .u-group-1 {
  height: auto;
  --radius: 4px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  min-height: 1343px;
  width: 1140px;
  margin: 0 -2px 60px auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 15px 13px;
}

.u-section-1 .u-text-1 {
  font-family: ABeeZee;
  margin: 15px auto 0 71px;
}

.u-section-1 .u-image-1 {
  width: 46px;
  height: 46px;
  margin: -29px auto 0 13px;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  margin: -46px 349px 0;
}

.u-section-1 .u-text-3 {
  font-size: 1rem;
  font-weight: 700;
  margin: 0 auto 0 71px;
}

.u-section-1 .u-image-2 {
  width: 1021px;
  height: 544px;
  margin: 0 auto 0 44px;
}

.u-section-1 .u-btn-1 {
  --radius: 6px;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: 34px auto 0 459px;
}

.u-section-1 .u-image-3 {
  width: 1021px;
  height: 544px;
  margin: 58px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    width: 940px;
    margin-right: 0;
    height: auto;
  }

  .u-section-1 .u-text-2 {
    width: 413px;
    margin-right: 341px;
    margin-left: 249px;
  }

  .u-section-1 .u-image-2 {
    width: 915px;
    height: 487px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 259px;
  }

  .u-section-1 .u-image-3 {
    width: 914px;
    height: 487px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    width: 720px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 259px;
    margin-left: 139px;
  }

  .u-section-1 .u-image-2 {
    width: 695px;
    height: 370px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 39px;
  }

  .u-section-1 .u-image-3 {
    width: 694px;
    height: 370px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 194px;
    margin-left: 52px;
  }

  .u-section-1 .u-image-2 {
    width: 520px;
    height: 277px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-image-3 {
    width: 520px;
    height: 277px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    width: 320px;
    margin-right: 119px;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-top: -29px;
  }

  .u-section-1 .u-image-2 {
    width: 320px;
    height: 170px;
    margin-top: 29px;
  }

  .u-section-1 .u-image-3 {
    width: 320px;
    height: 170px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 1430px;
}

.u-section-2 .u-group-1 {
  height: auto;
  --radius: 4px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  min-height: 1343px;
  margin-top: 0;
  margin-bottom: 60px;
}

.u-section-2 .u-container-layout-1 {
  padding: 17px 18px 15px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 30px auto 0 427px;
}

.u-section-2 .u-image-1 {
  width: 1021px;
  height: 544px;
  margin: 13px auto 0 20px;
}

.u-section-2 .u-btn-1 {
  font-weight: 700;
  font-size: 0.9375rem;
  --radius: 6px;
  margin: 30px auto 0;
}

.u-section-2 .u-image-2 {
  width: 1021px;
  height: 544px;
  margin: 44px auto 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-group-1 {
    height: auto;
  }

  .u-section-2 .u-text-1 {
    margin-left: 349px;
  }

  .u-section-2 .u-image-1 {
    width: 903px;
    height: 482px;
    margin-left: -2px;
    margin-right: -2px;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 687px;
  }

  .u-section-2 .u-image-2 {
    width: 904px;
    height: 482px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-left: 264px;
  }

  .u-section-2 .u-image-1 {
    width: 683px;
    height: 365px;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 467px;
  }

  .u-section-2 .u-image-2 {
    width: 684px;
    height: 365px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 199px;
  }

  .u-section-2 .u-image-1 {
    width: 520px;
    height: 277px;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 302px;
  }

  .u-section-2 .u-image-2 {
    width: 520px;
    height: 277px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    margin-left: 122px;
  }

  .u-section-2 .u-image-1 {
    width: 320px;
    height: 170px;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 102px;
  }

  .u-section-2 .u-image-2 {
    width: 320px;
    height: 170px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 1430px;
}

.u-section-3 .u-group-1 {
  height: auto;
  --radius: 4px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  min-height: 1344px;
  margin-top: 0;
  margin-bottom: 60px;
}

.u-section-3 .u-container-layout-1 {
  padding: 17px 19px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  margin: 24px auto 0 428px;
}

.u-section-3 .u-image-1 {
  width: 1021px;
  height: 544px;
  margin: 14px auto 0 38px;
}

.u-section-3 .u-btn-1 {
  font-weight: 700;
  font-size: 0.9375rem;
  --radius: 6px;
  margin: 10px 0 0 auto;
}

.u-section-3 .u-image-2 {
  width: 1021px;
  height: 544px;
  margin: 60px auto 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-group-1 {
    height: auto;
  }

  .u-section-3 .u-text-1 {
    margin-left: 350px;
  }

  .u-section-3 .u-image-1 {
    width: 903px;
    height: 481px;
    margin-left: 0;
  }

  .u-section-3 .u-image-2 {
    width: 902px;
    height: 481px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-left: 265px;
  }

  .u-section-3 .u-image-1 {
    width: 683px;
    height: 364px;
  }

  .u-section-3 .u-image-2 {
    width: 682px;
    height: 364px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 202px;
  }

  .u-section-3 .u-image-1 {
    width: 520px;
    height: 277px;
  }

  .u-section-3 .u-image-2 {
    width: 520px;
    height: 278px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    margin-left: 124px;
  }

  .u-section-3 .u-image-1 {
    width: 320px;
    height: 170px;
  }

  .u-section-3 .u-image-2 {
    width: 320px;
    height: 171px;
  }
}